@model List<BirthdayManager.Core.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2 class="users-list-header"><i class="fa fa-users"></i> Users</h2>

@if (!Model.Any())
{
    <p>We don't have any users yet.</p>
}
else
{
    <table id="users" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Date Of Birth</th>
                <th>Balance</th>
                <th>Location</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(@user.GetFullname(), "Details", new { username = user.UserName }) </td>
                    <td>@user.UserName.ToLower() </td>
                    <td>@user.GetBirthdate() </td>
                    <td>@user.Balance </td>
                    <td>@user.GetLocation() </td>
                    <td>@Html.ActionLink("Edit", "Edit", new { username = user.UserName })</td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts{
    <script>
        //TODO: extract the copy pase for both views for users in a one js file
        $(document).ready(function () {
            $.fn.dataTable.ext.type.order['birthday-string-pre'] = function (d) {
                var date = moment(d.trim() + ' 1999', 'MMM DD YYYY');
                return parseInt(date.format('x'), 10);
            };

            $(document).ready(function () {
                $("#users").DataTable({
                    "columnDefs": [ {
                        "type": "birthday-string",
                        "targets": -3
                    } ]
                });
            });
        });
    </script>
}
