@model List<BirthdayManager.Core.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2 class="users-list-header"><i class="fa fa-users"></i>  Users</h2>

@if (!Model.Any())
{
    <p>We don't have any users yet.</p>
}
else
{
    <table id="users" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Date Of Birth</th>
            <th>Balance</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>@Html.ActionLink(@user.GetFullname(), "Details", new { username = user.UserName }) </td>
                <td>@user.UserName.ToLower() </td>
                <td>@user.GetBirthdate() </td>
                <td>@user.Balance </td>
                <td>@user.GetLocation() </td>
            </tr>
        }
        </tbody>
    </table>
}


@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable();
        });
    </script>
}
